* text=auto !eol
.deps/tr.LR.hfst -text
.deps/tr.LR.lexc -text
.deps/tr.LR.lexc.hfst -text
.deps/tr.RL.hfst -text
.deps/tr.RL.lexc -text
.deps/tr.RL.lexc.hfst -text
.deps/tr.twol.hfst -text
.deps/tt.LR.hfst -text
.deps/tt.LR.lexc -text
.deps/tt.LR.lexc.hfst -text
.deps/tt.RL.hfst -text
.deps/tt.RL.lexc -text
.deps/tt.RL.lexc.hfst -text
.deps/tt.twol.hfst -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/apertium-tr-tt.tr-tt.dix -text
/apertium-tr-tt.tr-tt.lrx -text
/apertium-tr-tt.tr-tt.rlx -text
/apertium-tr-tt.tr-tt.t1x -text
/apertium-tr-tt.tr-tt.t2x -text
/apertium-tr-tt.tr-tt.t3x -text
/apertium-tr-tt.tr.lexc -text
/apertium-tr-tt.tr.twol -text
/apertium-tr-tt.tt-tr.lrx -text
/apertium-tr-tt.tt-tr.rlx -text
/apertium-tr-tt.tt-tr.t1x -text
/apertium-tr-tt.tt-tr.t2x -text
/apertium-tr-tt.tt-tr.t3x -text
/apertium-tr-tt.tt.lexc -text
/apertium-tr-tt.tt.twol -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/install-sh -text
/missing -text
/modes.xml -text
modes/tr-tt-biltrans.mode -text
modes/tr-tt-debug.mode -text
modes/tr-tt-interchunk.mode -text
modes/tr-tt-lex.mode -text
modes/tr-tt-morph.mode -text
modes/tr-tt-postchunk.mode -text
modes/tr-tt-tagger.mode -text
modes/tr-tt-transfer.mode -text
modes/tr-tt.mode -text
modes/tt-tr-biltrans.mode -text
modes/tt-tr-debug.mode -text
modes/tt-tr-interchunk.mode -text
modes/tt-tr-lex.mode -text
modes/tt-tr-morph.mode -text
modes/tt-tr-postchunk.mode -text
modes/tt-tr-tagger.mode -text
modes/tt-tr-transfer.mode -text
modes/tt-tr.mode -text
tmp/tr.txt -text
/tr-tt.autobil.bin -text
/tr-tt.autogen.hfst -text
/tr-tt.automorf.hfst -text
/tr-tt.lrx.bin -text
/tr-tt.mode -text
/tr-tt.prob -text svneol=unset#unset
/tr-tt.rlx.bin -text
/tr-tt.t1x.bin -text
/tr-tt.t2x.bin -text
/tr-tt.t3x.bin -text
/tt-tr.autobil.bin -text
/tt-tr.autogen.hfst -text
/tt-tr.automorf.hfst -text
/tt-tr.lrx.bin -text
/tt-tr.mode -text
/tt-tr.prob -text svneol=unset#unset
/tt-tr.rlx.bin -text
/tt-tr.t1x.bin -text
/tt-tr.t2x.bin -text
/tt-tr.t3x.bin -text
